{% extends "base.html" %}

{% block title %}
<title>Dashboard</title>
{%endblock%}


{% block main %}
  <main class="dashboardLayout">
    <div class="dashboardLayout__info">
      <h2>{{user.username}}</h2>
      {% if user.superuser %}
      <p>Administrator</p>
      {% else %}
      <p>Staff</p>
      {% endif %}
      <p>{{ user.lastactive.strftime("%d %b %Y, %H:%M:%S") }}</p>
    </div>

    <div class="dashboardLayout__actions">
      <div>
        <h3>Post Message</h3>
        <textarea id="postContents" name="message" rows="3" class="textbox" placeholder="Write something" onkeyup="updateCharCount(this.value)"></textarea><br>
        <span>/150</span><span id="charcount">0</span><br>

        <a href="javascript:postMessage({{user.id}})"><input class="btn blue" type="button" value="Post"></a>
      </div>
      <div>
        <h3>Update Password</h3>

        <input type="password" name="oldpassword" id="oldpassword" class="textbox" placeholder="Enter old password"><br>
        <input type="password" name="nwpassword" id="nwpassword" class="textbox" placeholder="Enter new password"><br>
        <input type="password" name="repassword" id="repassword" class="textbox" placeholder="Re-enter new password">

        <a href="javascript:updatePassword()"><input class="btn blue" type="button" value="Update"></a>

      </div>
    </div>
  </main>
{% endblock %}
