{% extends "base.html" %}

{% block title %}
<title>Explore</title>
{%endblock%}

{% block main %}
  <main class="exploreLayout">
    <div class="exploreLayout__sidebar">

      <div class="exploreLayout__sidebar__elem">
        <h5>Covid-19</h5>
        <h5>Positive</h5>
        <p>{{positive}}</p>
      </div>
      <div class="exploreLayout__sidebar__elem">
        <h5>Covid-19</h5>
        <h5>Negative</h5>
        <p>{{negative}}</p>
      </div>

      <div class="exploreLayout__sidebar__elem">
        <h5>Total Records</h5>
        <p>{{count}}</p>
      </div>
    </div>
    <div class="exploreLayout__main">
      {% for object in data %}
      <div class="card">
        <div class="card__comments" onclick="commentDrop(this)">
          <p>{{object.comments}}</p>  
        <div class="card__comments__btn">
          <button><i id="arrow-btn" class="ri-arrow-down-s-line"></i></button>
        </div>  
        </div>
        <div class="card__container">
          <img src="{{ url_for('static', filename='data/images/'+object.imageurl)}}" alt="xray">

          <h4 class="patient-id">Patient #{{ object.patient }}</h4>

          <table>
            <th>
              <td></td>
              <td></td>
            </th>
            <tr><td>Result</td>
            <td>{{ object.result }}</td></tr>
            <tr><td>Probability</td>
            <td>{{ object.covid }} | {{ object.normal }}</td></tr>
            <tr><td>Date</td>
            <td>{{ object.resultdate.strftime("%d %b %Y, %H:%M")}}</td></tr>
          </table>

          <div class="btn-grp">
            <a href="/admin/update/{{object.patient}}"><input class="btn green" type="button" value="Update"></a>
            <a href="/delete/{{object.id}}"><input class="btn blue" type="button" value="Delete"></a>
          </div>
          
        </div>

      </div>
      {% endfor %}

      </div>

  </main>
{% endblock %}