{% extends "base.html" %}

{% block title %}
<title>Page Not Found</title>
{%endblock%}

{% block header %}
{%endblock%}

{% block main %}
  <main class="notFoundLayout">
    <img class="stars" src="{{ url_for('static', filename='resources/Hero/stars.svg') }}" alt="stars">
    <h1>OOPS !</h1>
    <div class="notFoundLayout__img">
      <img src="{{ url_for('static', filename='resources/Hero/404num.svg') }}" alt="404" />
      <img src="{{ url_for('static', filename='resources/Hero/404obj.svg') }}" alt="404" />
    </div>
    <h2>Page Not Found</h2>
    
  </main>
  <div class="goback">
    <a href="/logout">
      <input class="btn blue" type="button" value="Go Back">
    </a>
  </div>
{% endblock %}