{% extends "base.html" %}

{% block title %}
<title>Explore</title>
{%endblock%}

{% block header %}
<header>
  <nav class="navbar">
    <section class="navbar__left">
      <a id="home" href="/user/home" class="navbar__left__item">
        <div class="icon">
          <i class="ri-home-line icon__line"></i>
          <i class="ri-home-fill icon__fill"></i>
        </div>
        <span>Home</span>
      </a>
      <a id="explore" href="/user/explore" class="navbar__left__item">
        <div class="icon">
          <i class="ri-folder-2-line icon__line"></i>
          <i class="ri-folder-2-fill icon__fill"></i>
        </div>
        <span>Explore</span>
      </a>
    </section>

    <section class="navbar__right">
      <a id="dashboard" href="/user/dashboard" class="navbar__right__item">
        <div class="icon">
          <i class="ri-settings-line icon__line"></i>
          <i class="ri-settings-fill icon__fill"></i>
        </div>
      </a>
      <a href="#" class="navbar__right__item">
        <div id="message" class="icon">
          <i class="ri-notification-line icon__line"></i>
          <i class="ri-notification-fill icon__fill"></i>
        </div>
      </a>
      <a href="/logout" class="navbar__right__item">
        <div class="icon">
          <i class="ri-shut-down-line icon__line"></i>
          <i class="ri-shut-down-fill icon__fill"></i>
        </div>
      </a>
    </section>
  </nav>
</header>
{% endblock %}

{% block main %}
  <main class="exploreLayout">
    <div class="exploreLayout__sidebar">

      <div class="exploreLayout__sidebar__elem">
        <h5>Covid-19</h5>
        <h5>Positive</h5>
        <p>{{positive}}</p>
      </div>
      <div class="exploreLayout__sidebar__elem">
        <h5>Covid-19</h5>
        <h5>Negative</h5>
        <p>{{negative}}</p>
      </div>

      <div class="exploreLayout__sidebar__elem">
        <h5>Total Records</h5>
        <p>{{count}}</p>
      </div>
    </div>
    <div class="exploreLayout__main">
      {% for object in data %}
      <div class="card">
        <div class="card__comments" onclick="commentDrop(this)">
          <p>{{object.comments}}</p>  
        <div class="card__comments__btn">
          <button><i id="arrow-btn" class="ri-arrow-down-s-line"></i></button>
        </div>  
        </div>
        <div class="card__container">
          <img src="{{ url_for('static', filename='data/images/'+object.imageurl)}}" alt="xray">

          <h4 class="patient-id">Patient #{{ object.patient }}</h4>

          <table>
            <th>
              <td></td>
              <td></td>
            </th>
            <tr><td>Result</td>
            <td>{{ object.result }}</td></tr>
            <br>
            <tr><td>Probability</td>
            <td>{{ object.covid }} | {{ object.normal }}</td></tr><br>
            <tr><td>Date</td>
            <td>{{ object.resultdate.strftime("%d %b %Y, %H:%M")}}</td></tr>
          </table>
          
        </div>

      </div>
      {% endfor %}

      </div>

  </main>
{% endblock %}